<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string><![CDATA[https://firebasestorage.googleapis.com/v0/b/testap5.appspot.com/o/app.ipa?alt=media&token=f7ac984f-627f-4fee-a739-4b88f952e295]]></string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.emstell.Everything.Woman</string>
        <key>bundle-version</key>
        <string>0.0.1</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>ew</string>
        <key>subtitle</key>
        <string></string>
      </dict>
    </dict>
  </array>
</dict>
</plist>